body {
  background-color: FEFCF3;
}

.highlight-font {
  color: #ff7b54;
}

.highlight-bg {
  background-color: #ff7b54;
}

.highlight-bg-fade {
  background-color: #fff8e1;
}

.main-photo {
  width: 420px;
  height: 420px;
}

.img-dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
