body {
  background-color: FEFCF3;
}

.highlight-font {
  color: #ff7b54;
}

.highlight-bg {
  background-color: #ff7b54;
}

.highlight-bg-fade {
  background-color: #fff8e1;
}

.main-photo {
  width: 420px;
  height: 420px;
}

.bd {
  filter: brightness(0.5);
}
